<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Csete Péter | Szoftverfejlesztő | {{ email }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ asset('css/resume.css') }}" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Csete Péter</h1>
					<h2>Szoftverfejlesztő</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:{{ email }}">{{ email }}</a></h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Készségek</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Webfejlesztés</h2>
									<p>Symfony frameworkben van a legtöbb tapasztalatom, főleg LAMP stacket használva.</p>
								</div>

								<div class="talent">
									<h2>Crossplatform mobilfejlesztés</h2>
									<p>A Flutter segítségével Android-ra és iOS-re is készítettem már több appot.</p>
								</div>

								<div class="talent">
									<h2>DevOps</h2>
									<p>Automatizált deploy folyamatok, konténerizált fejlesztői és test/production környezeteket is fejlesztettem Docker-t használva.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Ismert technológiák</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Win10/Linux (Ubuntu preferencia)</li>
								<li>CSS</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Jquery</li>
								<li>PHP</li>
								<li class="last">Git</li>
							</ul>

							<ul class="talent">
								<li>Flutter</li>
								<li>Docker</li>
								<li class="last">Symfony</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>OpenDEVEL Kft.</h2>
								<h3>Szoftverfejlesztő</h3>
								<h4>2018. 04. – 2019. 05.</h4>
								<p>- ERP (Enterprise Resource Planning) fejlesztés, fenntartás and módosítások<br>
									- SEO (Search Engine Optimization) és marketing kutatás, implementálás<br>
									- Weboldalak fejlesztése, fenntartása és módosítása (HTML/CSS fókusz)<br><br>
									(LAMP stack volt használva: PHP - MySQL - Linux - Apache - JavaScript. A vállalatnak egy egyedi
									keretrendszere volt aminek a neve PerpetuumERP, valamint főképp Bootstrappel készültek a frontend
									részéről a megoldások.)</p>
							</div>

							<div class="job last">
								<h2>Webtown-Informatika Számítástechnikai Kft.</h2>
								<h3>Szoftverfejlesztő</h3>
								<h4>2019.10. - jelenleg</h4>
								<p>Webfejlesztés (open source ecosystem), crossplatform mobilfejlesztés és Devops folyamatok fejlesztése is a feladataim közé tartoznak.<br><br>
								Főbb technológiák, amikkel megismerkedhettem:<br>
								- Symfony<br>
								- Flutter<br>
								- Docker</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">

						<div class="yui-u first">
							<h2>Tanulmányok</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Érettségi bizonyítvány</h2>
								<h3>Debreceni Egyetem Kossuth Lajos Gyakorló Gimnáziuma, Debrecen</h3>
								<h4>2009. 09. - 2015. 06.</h4>
							</div>

							<div class="job">
								<h2>Gazdaságinformatikus</h2>
								<h3>Debreceni Egyetem Informatikai Kar, Debrecen</h3>
								<h4>2015. 08. - 2019. 12.</h4>
							</div>

							<div class="job last">
								<h2>Szoftverfejlesztő oktatás</h2>
								<h3>OpenDEVEL Kft., Debrecen</h3>
								<h4>2017. 06. - 2018. 04.</h4>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Csete Péter &mdash; <a href="mailto:{{ email }}">{{ email }}</a></p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

